@import "tailwindcss";

:root {
  /* Semantic colors */
  --bg: 130 40% 96%;
  --fg: 0 0% 12%;
  --fg-muted: 0 0% 25%;
  --border: 0 0% 88%;
  --card: 0 0% 100%;
  --accent: 140 70% 45%;
  --accent-2: 48 95% 54%;
  --ring: 160 80% 45%;
  --shadow: 222 14% 50% / 0.25;

  color-scheme: light dark;
}

@font-face {
  font-family: "Space Mono";
  src: url("/fonts/SpaceMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi Variable";
  src: url("/fonts/Satoshi-Variable.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Satoshi Variable", sans-serif;
  --font-mono: "Space Mono", monospace;
}

html.dark {
  --bg: 222 22% 6%;
  --fg: 140 15% 92%;
}

@layer base {
  html,
  body,
  #root {
    background-color: hsl(var(--bg));
    color: hsl(var(--fg));
    @apply font-sans;
  }

  body,
  #root {
    @apply min-h-dvh;
  }
}

@layer utilities {
  .with-aside {
    @apply ml-0
    md:ml-32;
  }

  .grid-12 {
    @apply grid grid-cols-12 gap-6;
  }

  .hero-title {
    font-size: clamp(1rem, 25vw, 24rem);
    @apply leading-[1]
    font-medium;
  }

  .app-container {
    @apply px-4
    md:px-12;
  }
}
